<% title "Contributions" %>

<table>
  <tr>
    <th>User</th>
    <th>Ad</th>
    <th>Amount</th>
  </tr>
  <% for contribution in @contributions %>
    <tr>
      <td><%= contribution.user %></td>
      <td><%= contribution.ad %></td>
      <td><%= contribution.amount %></td>
      <td><%= link_to "Show", contribution %></td>
      <td><%= link_to "Destroy", contribution, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Contribution", new_contribution_path %></p>
